.navbar {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas: "logo middle buttons";
    align-items: center;
    padding: 15px 30px;
    background-color: #131318;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    grid-area: logo;
}

.middle {
    display: flex;
    grid-area: middle;
}

.buttons {
    place-self: end;
    grid-area: buttons;
}

@media only screen and (max-width: 920px) {
    .navbar {
        grid-template-columns: 1fr 2fr 2fr;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo logo"
            "middle buttons";
    }
}