.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    row-gap: 40px;
}

@media only screen and (max-width: 920px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.albumCoverWrapper {
    position: relative;
}

.albumCover {
    width: 100%;
}