.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    row-gap: 40px;
    /* grid-template-rows: ; */
}

.albumCoverWrapper {
    position: relative;
}

.albumCover {
    width: 100%;
}

.tag {

}